/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-cyrillic_latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-cyrillic_latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-cyrillic_latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-cyrillic_latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-cyrillic_latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-cyrillic_latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v12-cyrillic_latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-cyrillic_latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-cyrillic_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-cyrillic_latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-cyrillic_latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/montserrat-v25-cyrillic_latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-cyrillic_latin-regular.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #e4e5ea;
  background-color: black;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 60px;
}

.header_list {
  display: flex;
  justify-content: space-between;
}
.header_list-item {
  margin-right: 30px;
}
.header_list-item:last-child {
  margin-right: 0;
}
.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header_link {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #e4e5ea;
}

.header_list-contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header_contacts-item {
  margin-left: 34px;
}
.header_contacts-item:first-child {
  margin-left: 0px;
  margin-right: 15px;
  text-decoration: none;
}

.header_contacts-item span {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #e4e5ea;
}

main {
  margin-top: 94px;
}

.main_left {
  max-width: 362px;
}

.main_left-first {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #e4e5ea;
}

.main_left-second {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background-image: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}

.main_left-third {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #e4e5ea;
  max-width: 275px;
}

.main_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 300px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
}

.main_right-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 135px;
  align-items: flex-end;
  margin-top: 30px;
}
h2 {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}

h2 span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background-image: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
  background-clip: text;
  color: transparent;
}
.main_right-card-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main_right-card-content {
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.line-break {
  width: 100%;
}
